body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-252px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:477px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:135px;
  width:318px;
  height:477px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:700px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:50px;
  width:480px;
  height:700px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:518px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:135px;
  width:318px;
  height:518px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:141px;
  width:66px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:331px;
  width:79px;
  height:20px;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u608_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:141px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:357px;
  width:72px;
  height:23px;
  font-size:14px;
  color:#666666;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:356px;
  width:166px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:162px;
  word-wrap:break-word;
}
#u612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:182px;
  width:73px;
  height:23px;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:211px;
  width:146px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:142px;
  word-wrap:break-word;
}
#u614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:382px;
  width:72px;
  height:23px;
  font-size:14px;
  color:#666666;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:383px;
  width:133px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:129px;
  word-wrap:break-word;
}
#u616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:234px;
  width:52px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:210px;
  width:53px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:233px;
  width:62px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:262px;
  width:109px;
  height:23px;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:105px;
  word-wrap:break-word;
}
#u620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:261px;
  width:62px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:295px;
  width:180px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:176px;
  word-wrap:break-word;
}
#u622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:288px;
  width:62px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:622px;
  width:318px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:314px;
  word-wrap:break-word;
}
